$wheat: #f9f7cf;
$grey-10: #1a1a1a;
$grey-8: #141414;
$grey-3: #333;
$white: #f9fbff;
$background-primary: #1a1a1a;

:export {
    wheat: $wheat;
    grey10: $grey-10;
    grey8: $grey-8;
    grey3: $grey-3;
    white: $white;
    backgroundPrimary: $background-primary;
}
