@use "./colors.module.scss" as colors;

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

@font-face {
  font-family: 'Bello Script';
  src: url(/fonts/Bello-Script.ttf);
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: colors.$background-primary;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@keyframes hoverCard {
  0% { transform : translateY(2px) scale(0.85);}
  100% { transform: translateY(-1px) scale(0.85);}
}
